body {
  background-color: rgb(34, 34, 34);
}
h1 {
  color: rgb(0, 182, 121);
  font-style: italic;
}

.note {
  color: rgb(214, 214, 214);
  padding-top: 5px;
  font-size: 15px;
  margin: 1vh;
}
.note button {
  margin-left: 1vh;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
