.notification {
  border-style: dotted;
  border-color: rgb(7, 194, 131);
  background: rgb(187, 238, 218);
  border-radius: 5px;
  padding: 1vh;
  margin-bottom: 1vh;
}
.errorNotification {
  border-style: solid;
  border-color: rgb(194, 7, 132);
  background: rgb(204, 204, 204);
  border-radius: 5px;
  padding: 1vh;
  margin-bottom: 1vh;
}
